*.dSYM
*.lib
*.swo
*.swp
.DS_Store
.idea/
bin/
build/
build_backup/
buildrelease/
buildtest/
cmake-build-debug
cmake-build-release
cmake-build-minsizerel
cmake-build-relwithdebinfo
code.profdata
default.profraw
